name: Portfolio Dev Container Release

on:
  push:
    tags:
      - 'dc-v*.*.*'

jobs:
  check-tag-branch:
    name: Check Tag Location
    runs-on: ubuntu-latest
    steps:
      - name: Run actions/checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          fetch-depth: 0
      - name: Verify tag is on main branch
        run: git merge-base --is-ancestor ${{ github.sha }} origin/main

  release-image:
    name: Build and Release Dev Container
    runs-on: ubuntu-latest
    needs: check-tag-branch
    steps:
      - name: Run actions/checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Find version from tag
        run: echo "VERSION=${GITHUB_REF_NAME#dc-v}" >>"${GITHUB_ENV}"
      - name: Run docker/setup-buildx-action
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3
      - name: Run docker/login-action
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Run docker/build-push-action
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: .
          file: ./dev.Dockerfile
          push: true
          tags: |
            ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.IMAGE_NAME }}-dev:${{ env.VERSION }}
            ${{ vars.DOCKERHUB_USERNAME }}/${{ vars.IMAGE_NAME }}-dev:latest

  update-references:
    name: Update Image Version References
    runs-on: ubuntu-latest
    needs: release-image
    permissions:
      contents: write
    steps:
      - name: Find version from tag
        run: echo "VERSION=${GITHUB_REF_NAME#dc-v}" >>"${GITHUB_ENV}"
      - name: Run actions/checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
        with:
          ref: main
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Update .devcontainer.json
        run: |
          sed -i 's|\("image": "h3nc4/${{ vars.IMAGE_NAME }}-dev\):.*"|\1:${{ env.VERSION }}"|' .devcontainer.json
      - name: Update CI image version file
        run: |
          echo "${{ env.VERSION }}" >.github/VERSION
      - name: Commit and push
        uses: planetscale/ghcommit-action@25309d8005ac7c3bcd61d3fe19b69e0fe47dbdde # v0.2.20
        with:
          commit_message: 'Bump dev container to v${{ env.VERSION }} [skip ci]'
          repo: ${{ github.repository }}
          branch: main
          file_pattern: '.devcontainer.json .github/VERSION'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
