name: Security Analysis

on:
  push:
    branches:
      - 'main'
      - 'release/*'
  pull_request:
    branches:
      - 'main'
      - 'release/*'
  schedule:
    - cron: '23 3 * * *' # Daily at 03:23 UTC

jobs:
  analyze:
    name: CodeQL
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write

    steps:
      - name: Run actions/checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Run github/codeql-action/init
        uses: github/codeql-action/init@9e907b5e64f6b83e7804b09294d44122997950d6 # v4
        with:
          languages: javascript-typescript
      - name: Run actions/setup-node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: '24'
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Build project for analysis
        run: npm run typecheck
      - name: Run github/codeql-action/analyze
        uses: github/codeql-action/analyze@9e907b5e64f6b83e7804b09294d44122997950d6 # v4
        with:
          category: '/language:javascript-typescript'
